/* Import Roboto Font */
@font-face {
	font-family: 'Roboto';
	src: url('roboto/roboto-regular-webfont.eot');
	src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('roboto/roboto-regular-webfont.woff') format('woff'),
		 url('roboto/roboto-regular-webfont.ttf') format('truetype'),
		 url('roboto/roboto-regular-webfont.svg#RobotoRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Roboto';
	src: url('roboto/roboto-bold-webfont.eot');
	src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('roboto/roboto-bold-webfont.woff') format('woff'),
		 url('roboto/roboto-bold-webfont.ttf') format('truetype'),
		 url('roboto/roboto-bold-webfont.svg#RobotoBold') format('svg');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Roboto';
	src: url('roboto/roboto-bolditalic-webfont.eot');
	src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
		 url('roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
		 url('roboto/roboto-bolditalic-webfont.svg#RobotoBoldItalic') format('svg');
	font-weight: normal;
	font-style: italic;

}

@font-face {
	font-family: 'Roboto';
	src: url('roboto/roboto-italic-webfont.eot');
	src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('roboto/roboto-italic-webfont.woff') format('woff'),
		 url('roboto/roboto-italic-webfont.ttf') format('truetype'),
		 url('roboto/roboto-italic-webfont.svg#RobotoItalic') format('svg');
	font-weight: bold;
	font-style: italic;

}

/*Import Ropa Sans Font, do we need other font file types??*/
@font-face {
	font-family: 'RopaSans';
	src: url('ropasans/RopaSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'RopaSans';
	src: url('ropasans/RopaSans-Italic.ttf') format('truetype');
	font-style: italic;
}

/* Main Styles */
body { color:#000000; font-family:'Roboto'; font-size:14px; height:768px; min-width: 1280px; min-height: 860px; overflow: hidden;}
a { color:#ffffff; text-decoration:none; text-transform:uppercase; }
a:hover { color:#8eb423; }
h1 { font-family:'RopaSans'; font-weight:normal; }
h2 { font-family:'RopaSans'; font-weight:normal; }
li { list-style-type:none; }

#wrapper {
	display:block;
	float:left;
 /*	min-width:1280px;*/
}

#visualization{
	position: fixed;
}

#dataviz {
	background-color: #000000;
	margin: 0px;
	overflow-y: hidden;
	overflow-x: auto;
}
#overlay_2d{
	-webkit-perspective: 800;
	position: absolute;
	margin: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.marker {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	font-size: 4pt;
	font-family: 'RopaSans';
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select none;
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: pointer;
}

.marker.selected {
	background-color: rgba(0,0,0,.66);
	border-spacing: 3px;
	padding: 10px;
	cursor: auto;
}

.marker td {
	padding: 0px;
}

.marker .close {
	width: 8px;
	height: 8px;
	background: url('images/close.svg') 0 0 no-repeat;
	margin-right: 0px;
	margin-top: 0px;
	float: right;
	cursor: pointer;
	pointer-events: auto;
	display: none;
}

.marker.selected .close {
	display: block;
}

.test {
	white-space: nowrap;
}


.detail {
	display: block;
	color: #aaaaaa;
	font-size: 12pt;
	white-space: nowrap;
}

.description {
	display: block;
	color: #aaaaaa;
	font-size: 10pt;
	max-width: 400px;
}

.detail .key, .description .key {
	color: #FFA90B;
}

#loading{
	background-color: #111;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -38px;
	margin-left: -380px;
	color: white;
	padding: 16px 30px;
	width: 700px;
	height: 45px;
	line-height: 11px;
}


/*Styles by Pitch*/
.clear {
	clear:both;
}

/*Remove all text selection (except for Text Input)*/
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type='text'] {
	-webkit-touch-callout: default;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

}
/*
Elements to control the title and test selector
*/
.overlayTests {
	z-index: 10001; /* selected test has z-index:10000*/
}
.pointer {
	pointer-events: auto;
}
.noPointer {
	pointer-events: none;
}

#glContainer {
	z-index:1;
	pointer-events:none;
}
#glContainer canvas {
	z-index:1;
	pointer-events:none;
}

#hudHeader {
	position: absolute;
/*	width: 95%; */
	left: 30px;
	top: 20px;
	color: #fff;
	font-family: 'RopaSans';
	display: none;
	background: rgba(0,0,0,0.4);
}
#hudHeader h1 {
	font-size: 32px;
	font-family: 'RopaSans';
	margin: 0 0 0px 0;
	display: block;
	float: left;
}
#hudHeader h1 .subtitle {
	font-size: 14px;
	color: #ddd;

}
#hudButtons {
	display: none;
	position: absolute;
	top: 20px;

	width: 489px;
}
#hudButtons>div {
	float: right;
}
#hudButtons .testTextInput {
	float: right;
	font-size: 17px;
	width: 300px;
	margin: 0px 0px 4px 8px;
	font-family: 'RopaSans';
	text-transform: uppercase;
}
#hudButtons .testsBtn {
	float: right;
	background: #333333;
	padding: 3px 10px 2px;
	color: white;
	border: 0;
	font-size: 18px;
	font-family: 'RopaSans';
	cursor: pointer;
	margin: 0px 0px 4px 8px;
	opacity: 0.9;
}
#hudButtons .testsBtn:hover {
	opacity: 1;
}
#hudButtons .searchBtn {
	width: 76px;
}
#hudButtons .aboutBtn {
	display: block;
	clear: both;
	width: 76px;
}
#hudButtons .tiltBtn {
	width: 30px;
	height: 24px;
}
#hudButtons .topViewBtn {
	background: #333333 url('images/topview.svg') 7px 4px no-repeat;
}
#hudButtons .sideViewBtn {
	background: #333333 url('images/sideview.svg') 7px 4px no-repeat;
}
#hudButtons .zoomBtn {
	width: 30px;
	font-weight: bold;
	height: 24px;
}

#hudButtons .zoomOutBtn {
	font-size: 17px;
}
.ui-autocomplete {
	position: absolute;
}
.ui-autocomplete .ui-menu-item {
	border-top: 1px solid #656565;
	margin-left: -39px;
	padding-left: 4px;
	font-family: 'RopaSans';
	font-size: 18px;
	color: white;
	background: #333;
	width: 301px;
}
.ui-autocomplete .ui-menu-item .ui-state-active {
	background: white;
	color: black;
	width: 301px;
	display: block;
	margin-left: -4px;
	padding-left: 4px;
}

/*
Bar graph on left
*/
#barGraph {
	position: absolute;
	/*bottom:10px;*/
	left:-7px;
	opacity: 0.9;
}
#barGraph .bar.er-scud, #missileTypeBtns .er-scud .check {
	fill: #1A62A5;
}
#barGraph .bar.hwasong-12, #missileTypeBtns .hwasong-12 .check {
	fill: #6C6C6C;
}
#barGraph .bar.hwasong-14, #missileTypeBtns .hwasong-14 .check {
	fill: #AEB21A;
}
#barGraph .bar.kn-02, #missileTypeBtns .kn-02 .check {
	fill: #B68982;
}
#barGraph .bar.musudan, #missileTypeBtns .musudan .check {
	fill: #9FBAE3;
}
#barGraph .bar.nodong, #missileTypeBtns .nodong .check {
	fill: #FD690F;
}
#barGraph .bar.polaris-1, #missileTypeBtns .polaris-1 .check {
	fill: #FEAE65;
}
#barGraph .bar.polaris-2, #missileTypeBtns .polaris-2 .check {
	fill: #DA5CB6;
}
#barGraph .bar.scud-b, #missileTypeBtns .scud-b .check {
	fill: #279221;
}
#barGraph .bar.scud-b-marv, #missileTypeBtns .scud-b-marv .check {
	fill: #D2D479;
}
#barGraph .bar.scud-c, #missileTypeBtns .scud-c .check {
	fill: #89DC78;
}
#barGraph .bar.scud-c-marv, #missileTypeBtns .scud-c-marv .check {
	fill: #BBBBBB;
}
#barGraph .bar.taepodong-1, #missileTypeBtns .taepodong-1 .check {
	fill: #CA0F1E;
}
#barGraph .bar.unha, #missileTypeBtns .unha .check {
	fill: #814EAF;
}
#barGraph .bar.unha-3, #missileTypeBtns .unha-3 .check {
	fill: #B89FCB;
}
#barGraph .bar.unknown, #missileTypeBtns .unknown .check {
	fill: #78433B;
}
#barGraph .successLabel text,#barGraph .failureLabel text,#barGraph .unknownLabel text {
	fill: white;
	font-family: Roboto;
}
#barGraph .totalLabel {
	fill: white;
	font-family: Roboto;
	font-size: 23px;
}
#barGraph .failureLabel {
	font-family: Roboto;
	font-size: 14px;
	fill: #FFA90B;
}
#barGraph .successLabel {
	font-family: Roboto;
	font-size: 14px;
	fill: #44B2D4;
}
#barGraph .unknownLabel {
	font-family: Roboto;
	font-size: 14px;
	fill: #DDDDDD;
}
#barGraph .barGraphLabelBG {
	fill: rgba(0,0,0,0.8);
}
/* histogram and timeline at bottom */
#history {
	position: absolute;
	bottom: 0;
	left: 386px;
	background-color: rgba(43,43,43,0.9);
	display: none;
}
#history ul {
	list-style-type: none;
	margin: 10px 28px;
	padding: 0;
	padding-bottom: 15px;
	padding-top: 22px;
	color: white;
	font-size: 12px;
	font-family: 'Roboto';
	width: 630px;
	background: url('images/timelineBG.svg') 10px 0 no-repeat;
}
#history ul li {
	width: 42px;
	float: left;
	text-align: center;
	margin-top: -30px;
	padding-top: 30px;
	cursor: pointer;
}
#history .timeline #handle {
	cursor: pointer;
	width: 36px;
	height: 36px;
	background: url('images/yearHandle.png') 0px 0 no-repeat;
	position: absolute;
	bottom: 20px;
	left: 622px;
}
#history .graph {
	display: none;
}
#history .close {
	width: 8px;
	height: 8px;
	background: url('images/close.svg') 0 0 no-repeat;
	margin-right: 8px;
	margin-top: 5px;
	float: right;
	cursor: pointer;
	pointer-events:auto;
}

#history .labels {
	margin-right: 35px;
}
#history .labels .change {
	font-family: RopaSans;
	font-size: 23px;
	color: white;
	margin-left: 31px;
	float: left;
	margin-top: 10px;
}
#history .labels .successes {
	float: right;
	font-family: Roboto;
	font-size: 14px;
	color:#70B4CB;
	margin-top: 10px;
}
#history .labels .failures {
	float: right;
	font-family: Roboto;
	font-size: 14px;
	color: #FFA90B;
	margin-top: 10px;
	margin-left: 10px;
}
#history .labels .unknowns {
	float: right;
	font-family: Roboto;
	font-size: 14px;
	color: #DDDDDD;
	margin-top: 10px;
	margin-left: 10px;
}
#histogram path {
	fill: none;
	stroke-width: 2px;
}
#histogram .outcome.failure {
	fill: #FFA90B;
}
#histogram .outcome.success {
	fill: #44B2D4;
}
#histogram .outcome.unknown {
	fill: #DDDDDD;
}
#histogram .tick {
	fill: none;
	stroke: #959595;
}
#histogram .tickLbl {
	fill: #fff;
	font-size: 10px;
	font-family: Roboto;
}
#histogram .plusMinus {
	font-size: 16px;
	fill: #fff;
}
#histogram ellipse.year {
	fill: #fff;
}
#histogram text.yearLabel {
	fill: #fff;
}

/* ioutcome buttons (bottom right)*/
#outcomeBtns {
	width: 98px;
	position: absolute;
	bottom: 0px;
	color: white;
	display: none;
}
#outcomeBtns .label {
	float: left;
	width: 98px;
	height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-size: 18px;
	background: #262626;
	vertical-align: middle;
	padding-top: 3px;
	cursor: pointer;
	opacity: 0.9;
}
#outcomeBtns .label:hover {
	opacity: 1;
}
#outcomeBtns .success .label {
	color: #44B2D4;
}
#outcomeBtns .success .label.inactive {
	color: #22596A;
}
#outcomeBtns .failure .label {
	color: #FFA90B;
}
#outcomeBtns .failure .label.inactive {
	color: #7F5405;
}
#outcomeBtns .unknown .label {
	color: #DDDDDD;
}
#outcomeBtns .unknown .label.inactive {
	color: #6E6E6E;
}
#outcomeBtns .success {
	margin-bottom: 5px;
}
#outcomeBtns .failure {
	margin-bottom: 5px;
}

#missileTypeBtns {
	width: 130px;
	position: absolute;
	bottom: 17px;
	color: white;
	display: none;
}
#missileTypeBtns .box {
	float: left;
	width: 28px;
	text-align: center;
	height: 28px;
}
#missileTypeBtns .label {
	float: left;
	width: 98px;
	height: 22px;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-size: 13px;
	vertical-align: middle;
	padding-top: 6px;
}
#missileTypeBtns #checkbutton circle {
	stroke: none;
}
#missileTypeBtns #checkbutton path {
	fill: none;
	stroke-width: 2.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}
#missileTypeBtns .check {
	margin: 6px auto;
	cursor: pointer;
	stroke: black;
	opacity: 0.9;
}
#missileTypeBtns .check:hover {
	opacity: 1;
}
#missileTypeBtns .check.inactive {
	fill-opacity: 0.5;
	stroke: none;
}

#graphIcon {
	width: 42px;
	height: 42px;
	position: absolute;
	bottom: 10px;
	left: 1255px;
	cursor: pointer;
	background: url('images/graphIcon.svg') 0 0 no-repeat;
	display: none;
	opacity: 0.9;
}
#graphIcon:hover {
	opacity: 1;
}

#aboutContainer {
	display: none;
	position: absolute;
	top: 95px;
	width: 350px;
	right: 28px;
	color: white;
}
#aboutBox {
	width: 288px;
	padding: 20px 30px;
	background: #323232;
}
#aboutBox .title {
	margin-bottom: 20px;
	font-weight: bold;
	font-family: RopaSans;
	font-size: 20px;
}
#aboutContainer .arrowUp {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #323232;
	margin-left: 293px;
}
#aboutBox .text {
	font-family: Roboto;
	font-size: 15px;
}
#aboutBox a {
	text-transform: none;
	font-size: 15px;
	font-family: Roboto;
	font-weight: bold;
	color: #FFA90B;
}
#aboutBox a:hover {
	text-decoration: underline;
}


/* Small size */
/*
@media all and (max-width: 1395px) {
	#importExportBtns {
		width: 187px;
	}
	#importExportBtns>div>div {
		width: 23px;
	}
	#importExportBtns .imex>div {
		background: transparent;
	}
	#importExportBtns .imex .label {
		background: #262626;
	}
	#importExportBtns .typeLabels div {
		font-size: 12px;
		-webkit-transform:rotate(323deg);
		-moz-transform:rotate(323deg);
		-o-transform:rotate(323deg);
		-ms-transform:rotate(323deg);
		margin-top: -2px;
	}

	#importExportBtns .typeLabels .mil {
		margin-left: 8px;
	}
	#importExportBtns .typeLabels .civ {
		margin-left: 2px;
	}
	#importExportBtns .typeLabels .ammo {
		margin-left: -1px;
	}
}*/
